<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdvancedFileRecovery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <generatePublisherEvidence enabled="false" />
    <AppContextSwitchOverrides value="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace=true" />
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <NGenReserveForJumpStubs value="5" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="1" />
    <!--<gcConcurrent enabled="true"/>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    <generatePublisherEvidence enabled="false"/>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    <requiredRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="UPDATE_PRODUCT_SHORT_NAME" value="AFR"/>
    <add key="MAGICK_DLL_URL" value="http://cdn.tweaking.in/setups/advancedfilerecovery/dll/Magick.NET-Q8-AnyCPU.dll"/>
    <add key="URL7z32bit" value="https://cdn.tweaking.in/setups/advancedfilerecovery/dll/x86/7z.dll"/>
    <add key="URL7z64bit" value="https://cdn.tweaking.in/setups/advancedfilerecovery/dll/x64/7z.dll"/>
    <!--<add key="UPDATE_URL1" value="http://cdn.tweaking.in/temp/setups/advancedfilerecovery/update/update.asp" />-->
    <add key="UPDATE_URL1" value="https://activate123.com/afr/update/update.asp" />
    <add key="PARAMS_BASIC" value="&amp;utm_days={0}&amp;appversion={2}&amp;isreg={3}&amp;isexpired={4}&amp;macid={5}&amp;lipl={6}&amp;instdt={7}&amp;os={8}&amp;ram={9}&amp;model={10}&amp;proc={11}&amp;ibv={12}&amp;pid={13}&amp;iev={14}&amp;utm_updt={15}&amp;utm_updatedate={16}&amp;bdts={17}&amp;x-lip={18}&amp;instdts={19}&amp;bdt={20}" />
    <add key="UPDATE_PARAMS_BASIC" value="?productname={0}&amp;currentapplicationid={1}&amp;currentdbversionid={2}&amp;firstinstall={3}" />
    <add key="ADDITIONALPARAMFROMAPP" value="&amp;appversion={0}&amp;isreg={1}&amp;isexpired={2}&amp;macid={3}&amp;lipl={4}&amp;instdt={5}&amp;productid={6}&amp;os={7}&amp;ram={8}&amp;model={9}&amp;proc={10}&amp;ibv={11}&amp;iev={12}&amp;utm_updt={13}&amp;utm_updatedate={14}&amp;utm_days={15}&amp;bdts={16}&amp;x-lip={17}&amp;instdts={18}&amp;bdt={19}" />
    <add key="UPDATE_URL_COUNT" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NAG_TRACKING" value="https://www.tweaking.in/tracking/nagtracking" />
    <add key="AIP_EULA" value="http://www.advancedidentityprotector.com/eula.asp" />
    <add key="AIP_PP" value="http://www.advancedidentityprotector.com/privacypolicy.asp" />
    <add key="AIP_TRY_IT_NOW" value="http://b34df4ra1.vo.llnwd.net/setups/aips/apcoffer/aip_apcupdt0920.exe" />
    <add key="ASP_EULA" value="https://www.systweak.com/advanced-system-protector/eula" />
    <add key="ASP_PP" value="https://www.systweak.com/Privacy-Policy/" />
    <add key="ASP_TRY_IT_NOW" value="http://b34df4ra1.vo.llnwd.net/setups/updt_ofr/apc/aspsetup_updtapc0920.exe" />
    <add key="EMAIL_US" value="support@tweaking.in" />
    <add key="UTILITY_KIT_URL_NEW" value="https://activate123.com/afr/utilitykit/utility_kit_v3.aspx" />
    <add key="UTILITY_KIT_URL_NEW_Win7" value="http://activate123.com/afr/utilitykit/utility_kit_v3.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <!--<httpRuntime maxRequestLength="2147483647" executionTimeout="3600"/>-->
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="45000000000000000000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MiscServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://updateservice1.tweaking.in/miscservice/miscservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="MiscServiceSoap"
        contract="ServiceReference1.MiscServiceSoap" name="MiscServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AdvancedFileRecovery.Properties.Settings>
      <setting name="AdvancedFileRecovery_tweaking_updateservice1_STGenuineValidationService"
        serializeAs="String">
        <value>https://updateservice1.tweaking.in/STGenuineValidatorAFR/STGenuineValidationService.asmx</value>
      </setting>
    </AdvancedFileRecovery.Properties.Settings>
  </applicationSettings>
</configuration>
