// variables.scss
$primary-color: #320b57;
$lightprimary:#946fb618;
$secondary-color: #A3C701;
$text-color: #fff;
$background-color: #320b57e8;
$border-color: #c500fb;
$hover-color: rgba(0, 0, 0, 0.365);
$animation-duration: 0.3s;
$box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.326);
$border:rgba(0, 0, 0, 0.131);


// Fonts
$font_size_details_grey: 13px;
$font_size_details_color: 14px;
$font_size_small_title: 12px;

$font_size_base: 14px;
$font_size_form_title: 17px;
$font_size_form_header: 18px;
$font_size_table_text: 14px;

$font_size_table_title: 16px;
$font_size_table_th: 13px;
$font_size_table_td: 14px;
$font_size_table_head: 26px;

$font_size_nav_head:26px;
$font_size_status:14px ;

