.breadcrumb-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 30px;
  box-shadow:1px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: fit-content !important;
  .arrow_left_right {
    border-radius: 20px;
    padding-top: 4px;
    background: #efe7f8;
    .arrow-btn {
      background-color: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #6f6f6f;
      svg{
        color: #400F6F;
      }
      svg:hover{
        color: black;
      }
    }

       .disabled_{
      svg{
        color: #6f6f6f !important;
      }
    }
  }
  .breadcrumb {
    display: flex;
    align-items: center;
    flex-grow: 1;
    .breadcrumb-item {
      margin: 0px 10px;
      background: none;
      border: none;
      font-size: 16px;
      color: #6f6f6f;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      .icon-home {
        margin: 0 5px;
        font-size: 18px;
        svg {
          background: #efe7f8;
          padding: 8px;
          border-radius: 50%;
          margin-top: 5px;
        }
      }
    }
    .btn_option {
      border: none;
      outline: none;
      padding: 8px 13px;
      font-size: 16px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
      span{
        margin: 0 5px;
      }
    }
    .dropdown-select {
      margin-right: 2px;
      .dropdown-menu- {
        width: 220px;
        position: absolute;
        height: 155px;
        background: #fff;
        margin-top: 220px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        text-align: left;
        box-shadow: 0px 0px 10px 0.1px rgba(84, 82, 82, 0.247);
        span {
          padding: 5px;
          margin: 5px;
          border-radius: 5px;
        }
        span:hover {
          width: 87%;
          background: #e8d2e5;
          color: #400F6F;
        }
      }
    }
  }
}
