#inputD{
  width: 70px !important;
  // border: 1px solid red !important;
}

.tableD {
    table-layout: fixed;  
    width: 100%;        
}

#Description2 {
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
    max-width: 150px;     
    padding: 10px;
}

#Description textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 0.8rem;
    border: 1px solid rgba(134, 127, 127, 0.39);
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
    resize: none;
}
