.sift_hours_td{
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}
#DateDropdowns{
    border: 1px solid #730fad00 !important;
    z-index: 99;
    // border: 1px solid rgb(240, 0, 0) !important;
    width: 120px;
    margin-top: -30px !important;
    height: 30px;
    overflow: hidden;
    background: #00000000 !important;
}

.week_TD{
    min-width: 105px;
    text-align: center !important;
}

@media only screen and (max-width: 1333px) {
    .week_sift{
        overflow-y: auto !important;
        // padding-left: 50px !important;
    }
.week_TD{
    min-width: 130px;
   text-align: center !important;
}

 .stick{

    // position: fixed;
     position: sticky; /* Make the header and first cell sticky */
    left: 0; /* Stick to the left */
    background-color: white ; /* Background color of the fixed header/cell */
    z-index: 1; 
    
}
.stick2{
    background-color: #f2eef5 !important;
}

}

.week_sift_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        svg{
            font-size: 30px !important;
        }
    }
}


.pic_flex{
    display: flex;
    align-items: center;
    // border: 1px solid red !important;
}
.sift_img_pic{
   width: 40px;
    height: 40px;
    object-fit: cover; 
    border-radius: 50%; 
    margin-right: 5px;
    // border: 2px solid #ccc;
    background-color: #f0f0f0;
}