.app {
  display: flex;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  // &.sidebar-open {
  //   margin-left: 250px; 
  // }
}


.content {
  // margin-top: 50px; 
  // padding: 20px;
}
